# OS
.DS_Store
Thumbs.db

# Node / build / cache
node_modules/
dist/
vendor/
*.log

# VS Code
.vscode/
*.code-workspace

# FTP sync states
.ftp-deploy-sync-state.json

# System files
__pycache__/
*.swp
